
.admin a
{
    padding:1% ;
}
.Pic a {
    
    margin-left: 20%;
}
.pic img
{
    height: 3rem;
    width: 3rem;
}
.Name
{
    margin-top:2% ;
    margin-bottom:6px;
    margin-left: 10px;
}
.Name:hover
{
    background-color: whitesmoke;
}
.form
{
    margin-top: 2%;
    margin-left: 5%;
}
button
{
border-radius: 10px;
text-align: center;
font-size: 16px;
}
.error
{
    color: #FF0000;
}


