body
{
    margin: 0;
    background-image: url("Assets/background.jpg");
}
.divcontainer
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:rgb(79, 197, 114);
}
.admin 
{
    margin-top:10px;
    margin-left: 30px;
}
.pic a
{
    margin-top: 0;
    margin-right:40px ;
    padding-left: 10px;
}
a:link
{
    color:rgb(5, 114, 114);
}
a:hover {
    color: rgb(41, 85, 85);
  }

.pic img
{
    height: 3rem;
    width: 3rem;
}


.form
{
    margin-top: 4%;
    width: 50%;
    height: 70%;
    margin-left:10%;
}
.error
{
    color: red;
}

.table
{
    margin-left:50px;
}
h1
{
    margin-left:50px;
}
.Name
{
    margin-top:2% ;
    margin-bottom:6px;
    margin-left: 10px;
    border-radius: 10px;
    
}
.Name:hover
{
    background-color: whitesmoke;
}
.row
{
    font-weight: bold;
}
.button
{
    border-radius: 2px;
    color: black;
    background-color:rgb(110, 209, 201);
    border-width: 5px;
    /*border-color: cornflowerblue;*/
    border-color: rgb(79, 197, 114);
}
.button:hover
{
    background-color: rgb(79, 197, 114);  
}