.usersTable     {
    margin-top: -340px;
    border: 1px solid black;
}

.pag            {
    margin-left: 350px;
    margin-top: 270px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

th, td           {
    text-align: center;
    height: 30px;
    width:150px;
    border: 1px solid #ddd;
}

th               {
    background-color: lightgray;
}

tr:nth-child(even)  {
    background-color: #f2f2f2;
}

tr:hover        {
    background-color: #ddd;
}