#main_body {
    display: flex; 
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#container {
    width: 100vw;
    height: 100vh;
}

.nav {
    display: flex; 
    justify-content: space-between;
}

.profilePic {
    margin: auto;
    margin-right: 2rem;
    text-align: center;
}

.profilePic a {
    justify-content: end;
}

.profilePic img {
    height: 4rem;
    width: 4rem;
}

.profilePic img:hover {
    cursor: pointer;
}

#bodyContainer {
    display: flex;
    flex-direction: row;
}

#formContainer {
    float: left;
    background-color: rgb(223, 223, 223);
    color: black;
    margin-top: 10rem;
    margin-left: 2rem;
    padding: 1rem;
}

#price {
    float: right;
}

#saveForm {
    float: right;
}

.title {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
}

.nav {
    display: inline;
}

.nav .profilePic {
    border-spacing: 50px 0;
    margin-left: 10px;
}
  
.nav td {
    padding: 10px 0;
}

.notes td {
    padding: 0;
}

#allProductsContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#search {
    padding: 30px;
    font-size: 17px;
    align-items: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#searchBar {
    height: 1rem;
    border: none;
}

#selectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#separator {
    border: 0.5px solid;
    border-color: rgb(82, 82, 82);
    width: 90%;
}

.products {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 3rem;
}

.product:hover {
    cursor: pointer;
}

.product img {
    height: 12rem;
    width: 10rem;
    margin: 0;
    padding: 0;
}

.product h4{
    text-align: center;
}

#selectedProds {
    display: flex;
    flex-direction: row;
    height: 3rem;
}

#selectedProds span {
    display: flex;
    flex-direction: row;
    width: 4rem;
    padding: 1px;
    margin: 1px;
}

#quantity {
    display: inline;
}