

.order-details-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    height: 180px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: black solid 1px;
    border-radius: 8px;

}

.card-image{
    margin-top: 2rem;
    width: 8vw;
    height: 12vh;
}

.card-header {
    margin-top: 2rem;
}

.card-body{
    margin-top: 2rem;
    margin-bottom: 2rem;
}